body {
    --el-box-shadow-light: 0 0 0px 1px #8882;
    --el-border-radius-base: 6px;

    /* --el-color-primary: purple; */
}

html, body, #__nuxt {
    height: 100%;

    margin: 0;
    padding: 0;
}

#__nuxt {
    display: flex;
    /* justify-content: center; */
}

/* Entries styles but I'm too busy hacking to put them there */
.checkbox>div:nth-child(2),
.checkbox-link>div:nth-child(2) {
    flex: 1;
}

.h1>div:first-child, 
.h2>div:first-child, 
.h3>div:first-child, 
.image>div:first-child, 
.caption>div:first-child, 
.markdown>div:first-child, 
.p>div:first-child {
    flex: 1;
}

.el-input-group {
    border-radius: 6px;
}

.el-tag, .el-button, .el-input {
    box-shadow: 0px 2px 2px 0px #f0f0f0;
}

@media screen and (max-width: 767px) {
    * {
        font-size: 0.9rem;
    }

    .el-autocomplete-suggestion [role=option] {
        font-size: 1.5rem;
    }
}