html, body, #__nuxt {
    height: 100%;

    margin: 0;
    padding: 0;
}

#__nuxt {
    display: flex;
    /* justify-content: center; */
}

/* Entries styles but I'm too busy hacking to put them there */
.checkbox>div:nth-child(2),
.checkbox-link>div:nth-child(2) {
    flex: 1;
}

.h1>div:first-child, 
.h2>div:first-child, 
.h3>div:first-child, 
.image>div:first-child, 
.caption>div:first-child, 
.p>div:first-child {
    flex: 1;
}